.done {
    text-decoration: line-through;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
}

header {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}